<link rel="stylesheet" href="styles.css" />
<footer style="width: 100%">
  <div class="container">
    <div class="footer-content">
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul class="footer-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="aboutPI.html">About PI</a></li>
          <li><a href="Education.html">Education</a></li>
          <li><a href="positions.html">Work Experience</a></li>
          <li><a href="teaching.html">Teaching Experience</a></li>
          <li><a href="extension.html">Extension Activities</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="Awards.html">Awards</a></li>
          <li><a href="/admin/login">Admin</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Research</h3>
        <ul class="footer-links">
          <li><a href="Publication.html">Publication</a></li>
          <li><a href="Projects.html">Projects</a></li>
          <li><a href="patents.html">Patents</a></li>
          <li><a href="ResearchMembers.html">Research Groups</a></li>
          <li><a href="keyTechnology.html">Key Technologies</a></li>
          <li><a href="Collaboration.html">Collaboration</a></li>
          <li><a href="facilities.html">Facilities</a></li>
          <li><a href="Dissertation.html">Dissertations supervised</a></li>

        </ul>
      </div>
      <div class="footer-column">
        <h3>Contact</h3>
        <div class="contact-info">
          <p style="font-weight: bold">Prof. Sandeep Chaudhary</p>
          <p>
            Room No 403, Chromium Building, Department of Civil Engineering,
          </p>
          <p>
            Indian Institute of Technology Indore, Khandwa Road, Simrol-453552
            Madhya Pradesh– (INDIA)
          </p>
          <p>Phone: +91-731-660-3256</p>
          <p>Mobile: 9549654195, 9414475375</p>
          <a style="color: lightgray; text-decoration: none;" href="mailto:schaudhary@iiti.ac.in">
            Email: schaudhary@iiti.ac.in</a>
        </div>
        <p style="margin-top: 10px;"> <a href="/contactform" style="color: white;"> Write Us</a></p>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2025 . All rights reserved.</p>
    </div>
  </div>
</footer>