<%- include('partials/header') %>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="container" style="margin-top: 2.5rem">
  <div class="main-wrapper">
    <div class="hero-section">
      <div class="profile">
        <img
          src="https://sandeepiiti.in/static/images/displaypic.png"
          alt="Nikoloz Sirmpilatze"
          class="profile-img"
          style="margin-top: 3.5rem"
        />
        <h1>Prof. Sandeep Chaudhary</h1>
        <h2>Research Civil Engineer</h2>
        <div class="profile-links" >
          <a href="#" style="text-decoration: none;"> Professor (HAG), Department of Civil Engineering </a>
          <br />
          <a href="#" style="text-decoration: none;"> Head, Sustainable Construction Research Group</a>
          <br />
          <a href="#" style="text-decoration: none;">Indian Institute Of Technology Indore (IITI)</a>
        </div>
        <div class="social-icons">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div class="about-content">
        <h2 class="about-me">About Prof. Sandeep Chaudhary</h2>
        <p>
          Prof. Sandeep Chaudhary is the Dean of Administration and a
          <span class="highlight"
            >Professor in the Department of Civil Engineering</span
          >
          at IIT Indore. With 27 years of professional experience, he has
          contributed as an academician, researcher, and industry expert in
          structural engineering and sustainable construction. His research
          focuses on the microstructural behavior of building materials,
          sustainable building products, and large-structure analysis. His work
          has resulted in
          <span class="highlight">two patents</span> and the first technology
          transfer at IIT Indore.
        </p>

        <p>
          He is part of an interdisciplinary team that secured an
          <span class="highlight">INR 100-crore grant</span> to establish a
          <span class="highlight">Technology Innovation Hub (TIH)</span>. His
          international collaborations include a recent invitation from the
          Government of the Russian Federation to develop a world-class research
          lab at NPI, Russia, leading a project on
          <span class="highlight">carbon-neutral technologies</span> for
          recycling industrial fuel waste into functional geopolymer materials.
        </p>

        <p>
          Prof. Chaudhary has been actively involved in prestigious national and
          international committees. He currently serves as the Secretary of the
          Technical Committee on
          <span class="highlight"
            >"Life Cycle Maintenance of Concrete Infrastructures (TC-LCM)"</span
          >
          under the Asian Concrete Federation, contributing to advancements in
          concrete infrastructure sustainability.
        </p>
      </div>
    </div>

    <div class="main-content">
      <div class="section">
        <h2>Research Interests</h2>
        <ul>
          <li>Structural Engineering</li>
          <li>Sustainable Construction Practices</li>
          <li>Composite Bridges</li>
          <li>Novel Bricks and Blocks</li>
          <li>Microstructure and Durability of Concrete</li>
          <li>Advanced Characterisation Techniques</li>
          <li>Waste management in building construction materials</li>
        </ul>
      </div>

      <div class="section">
        <h2>Education</h2>
        <div class="education-item">
          <i class="fas fa-graduation-cap education-icon"></i>
          <div class="education-details">
            <span class="education-degree"
              >Post Doc. Research Fellow, 2011</span
            >
            <span class="education-institution"
              >Structural System Laboratory, KNU, S. Korea</span
            >
          </div>
        </div>
        <div class="education-item">
          <i class="fas fa-graduation-cap education-icon"></i>
          <div class="education-details">
            <span class="education-degree">Ph.D., 2006</span>
            <span class="education-institution"
              >Indian Institute of Technology Delhi, India</span
            >
          </div>
        </div>
        <div class="education-item">
          <i class="fas fa-graduation-cap education-icon"></i>
          <div class="education-details">
            <span class="education-degree">M.E., 1999</span>
            <span class="education-institution"
              >Malaviya Regional Engineering College, Jaipur, India</span
            >
          </div>
        </div>
        <div class="education-item">
          <i class="fas fa-graduation-cap education-icon"></i>
          <div class="education-details">
            <span class="education-degree">B.E. , 1996</span>
            <span class="education-institution"
              >M B M Engineering College, Jodhpur, India</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
