<%- include('partials/header') %>
    <link rel="stylesheet" href="Collaboration.css">

    <div class="container">
        <section class="collaboration-section">
            <div class="collaboration-header">
                <h1>Collaborative Innovation</h1>
                <p>We believe in the power of strategic partnerships. Our collaborative approach brings together diverse expertise to solve complex challenges and drive meaningful innovation across industries.</p>
            </div>

            <div class="partners-grid">
                <div class="partner-card">
                    <a href="https://www.plymouth.ac.uk/">
                    <img src="https://www.ceca.co.uk/wp-content/uploads/2021/10/university-of-plymouth-vector-logo.png" alt="University Logo" class="partner-logo">
                    </a><h3>University of Plymouth, UK</h3>
                </div>
                <div class="partner-card">
                    <a href="https://warwick.ac.uk/">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5b/University_of_Warwick_logo.svg/1190px-University_of_Warwick_logo.svg.png?20250216015049" alt="University Logo" class="partner-logo" style="width: 90% height: auto display: block>
                    </a><h3>University of Warwick, UK</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.latrobe.edu.au/">
                    <img src="https://scontent.fbho3-2.fna.fbcdn.net/v/t39.30808-6/317486213_6287142624649103_3389839222788649338_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=1d70fc&_nc_ohc=UT2D4sJTVZQQ7kNvwHr8ZqW&_nc_oc=AdkZuDC3-zhyTnB75cSBPtOYedgMy5UlFNB29i1FMhv5ahAk3wZzlsgISAmaVm45LGY&_nc_zt=23&_nc_ht=scontent.fbho3-2.fna&_nc_gid=F4cNDH32wEm177423MDppQ&oh=00_AfvA4YYCxecP0oGSaZa6FVcWhGmQf_vO8eStTzhkaE6T_Q&oe=699F064A">
                    </a><h3>La Trobe University, Australia</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.srspu.com/">
                    <img src="https://www.srspu.com/wp-content/themes/south/images/logo.png" alt="University Logo" class="partner-logo">
                    </a><h3>Platov South-Russian State Polytechnic University (NPI), Russia</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.imperial.ac.uk/">
                    <img src="https://www.imperial.ac.uk/media/images/non-standard-dimensions/crest.png" alt="University Logo" class="partner-logo">
                    </a><h3>Imperial College London, UK</h3>
                </div>
                <div class="partner-card">
                    <a href="https://english.nsu.ru/research/climate-center/">
                    <img src="https://english.nsu.ru/local/templates/nsu/images/Logo_en_green.svg" alt="University Logo" class="partner-logo">
                    </a><h3>Novosibirsk State University, Russia</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.wu.ac.th/en">
                    <img src="https://rps.wu.ac.th/assets/logo/wu-portal-logo.png" alt="University Logo" class="partner-logo">
                    </a><h3>Walailak University, Thailand</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.jswcement.in/">
                    <img src="https://www.jsw.in/wp-content/themes/JSWGroup/images/JSW_Group_Logo.png" alt="Industry Logo" class="partner-logo">
                    </a><h3>JSW Cement, India</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.captainsteel.com/">
                    <img src="https://www.captainsteel.com/cdn/shop/files/captain-steel-new-logo_190x@2x.jpg?v=1729926181" alt="Industry Logo" class="partner-logo">
                    </a><h3>Capatain Steel, India</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.asianconcretefederation.org/">
                    <img src="https://www.asianconcretefederation.org/images/logo.svg?v=1761885731987" alt="Organisation Logo" class="partner-logo">
                    </a><h3>Asian Concrete Federation</h3>
                </div>

                <div class="partner-card">
                    <a href="https://www.concrete4change.com/">
                    <img src="https://cdn.prod.website-files.com/634346df22ea71dabc3e1f3e/634489e3057441d199dd520b_Group%2019.svg" alt="Industry Logo" class="partner-logo">
                    </a><h3>Concrete4Change, UK</h3>
                </div>
                <div class="partner-card">
                    <a href="https://moira.in/">
                    <img src="https://media.licdn.com/dms/image/v2/D4E0BAQEnhba158ZfMg/company-logo_200_200/company-logo_200_200/0/1694772783955?e=2147483647&v=beta&t=Me8DrwzqBAco4x6XFibo78NWFuwQvgF77VB_v-eyoDU" alt="Industry Logo" class="partner-logo">
                    </a><h3>Moira Sariya, India</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.univ-amu.fr/en">
                    <img src="https://www.univ-amu.fr/themes/custom/amu_zurb/images/logo-amu.svg" alt="University Logo" class="partner-logo">
                    </a><h3>Aix Marseille Université, France</h3>
                </div>
                <div class="partner-card">
                    <a href="https://ucar.rnu.tn/">
                    <img src="https://ucar.rnu.tn/wp-content/uploads/2024/11/logo-ucar-2.png" alt="University Logo" class="partner-logo">
                    </a><h3>University of Carthage, Tunisia</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.ed.ac.uk/">
                    <img src="https://www.ed.ac.uk/themes/upstream/wpp_theme/images/logo.png" alt="University Logo" class="partner-logo">
                    </a><h3>University of Edinburgh, UK</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.svnit.ac.in/index.php">
                    <img src="https://www.svnit.ac.in/images/logo.png">
                    </a><h3>Sardar Vallabhbhai National Institute of Technology, Surat</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.thapar.edu/">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6BOjozS4lzsK1LtJpXA8deF9Nqz4ObGob3A&s" alt="University Logo" class="partner-logo">
                    </a><h3>Thapar Institute of Engineering & Technology, Patiala, India</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.mnit.ac.in/">
                    <img src="https://www.mnit.ac.in/Images/Mnit_logo.png" alt="University Logo" class="partner-logo">
                    </a><h3>Malaviya National Institute of Technology Jaipur, India</h3>
                </div>
                <div class="partner-card">
                    <a href="https://www.nitw.ac.in/">
                    <img src="https://www.nitw.ac.in/images/NITW_logo_telugu3.png" alt="University Logo" class="partner-logo">
                    </a><h3>National Institute of Technology Warangal, India</h3>
                </div>
            </div>

            <div class="collaboration-cta">
                <a href="/contact" class="cta-button">Start a Collaboration</a>
            </div>
        </section>
    </div>
    <%- include('partials/footer') %>
